<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tantalus</title>
    link(rel="stylesheet", href="css/app.min.css")
</head>
<body>
    
    section.container
        h1 Tantalus
        p Just give me somethi' to break!!!
    
</body>
</html>